/*All Pages*/
a {
  text-decoration: none;
  color: #2B2219;
}

/*index page*/
body {
  background-color: #6FA7A7;
  margin: 0;
  max-width: 100%;
}
header {
  background-color: white;
  opacity: 0.8;
  padding: 0 10px 0 10px;
  display: inline-block;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

div.name{
  float: left;
  padding: 0px 10px 0 10px ;
  color: #2B2219;
  font-size: 14px;
  /*#78B9B9*/
}

div.nav{
  float: right;
  color: #2B2219;
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px 0 10px;
  float: right;
}

main {
  max-width: 100%;
  max-height: 100%;
}
div.intro{
  float: left;
  background-image: url("images/nature-blur.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  min-height: 475px;
  width: 100%;
  padding: 10px;
  text-align: center;
}
div.introcontent{
  vertical-align: middle;
  line-height: normal;
  min-height: 150px;
  padding: 1%;
}

div.experience{
  width: 100%;
  padding: 10px;
  height: 400px;
  background-color: white;
  background-size: cover;
  float: left;
  margin: auto;
}




/*About.html page*/
div.facts {
  float: left;
  width: 39.3%;
  padding: 0 4%;
  text-align: left;
  margin: 0 3%;
}

p{
  padding: 0 10%;
}

hr {
  border: black solid 2px;
}

div.space {
  float: left;
  width: 99%;
  min-height: 10px;
  margin: auto;
  /*border: 1px solid black;*/
}

div.meinfo {
  float: left;
  width: 95%;
  min-height: 251px;
  padding: 0 2%;
  display: inline-block;
  position: relative;
  /*border: 1px solid black;*/
}

div.profileimage {
  background-image: url('images/mypicture.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30%;
  min-height: 225px;
  margin: 0 5%;
  padding: 0;
  /*border: 1px solid black;*/
}


/*div.infosection.fivews {
  float: left;
  width: 450px;
  margin-left: 50px;
  position: relative;
  border: solid black;
}*/

/*div.space1 {
  height: 33%;
  width: 100%;
  float: left;
  padding: 15px;
}*/
/*div.space2 {
  height: 6%;
  width: 100%;
  float: left;
  padding: 0;
}*/



/*div.picture {
  float: right;
  position: relative;
  margin: 0;
  width: 270px;
  margin-left: 200px;
  height: 266px;
  border: solid black;
}*/

div.aboutme{
  /*float: left;*/
  background-color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  background-size: cover;
  min-height: 475px;
  width: 100%;
  padding: 10px;
  margin: 0;
}

/*div.mecontent {
  clear: both;
  padding: 0 0 0 30px;
}*/
h2.metitle {
  text-align: center;
}
