@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);

* {
		margin: 0;
		padding: 0;
    font-family: 'Quattrocento', sans-serif;
	}
body {
  background-color: #e9ece5;
}
/*Header logo*/
.navbar-header {
  margin-top: 0.5%;
}
.navbar-brand {
  padding:4% 10%;
  font-size: 28px;
  color: #e9ece5;
  text-decoration: none;
  font-family: 'Oswald';
}


/* NavBar */
  .navbar{
    min-height: 50px;
    width: 100%;
    background-color: #3b3a36;
    position: fixed;
    left: 0;
    top: 0;
  }
  .navbar-header {
    width: 50%;
    float: left;
  }
  .navigation {
    width: 50%;
    float: left;
  }
	.navigation ul {
    list-style: none;
    margin: 0;
	}
	li {
		width:10%;
		float:left;
    margin:2%;
	}
  li:first-child {
    margin-left: 40%;
  }
	li:last-child {
		border-right:none;
	}
	li a {
		display: block;
		padding:4% 10%;
    text-align: center;
    font-size: 15px;
		text-decoration: none;
    margin: 4% 0;
    color: #e9ece5;
	}


/*Intro Section*/
.intro {
  min-height:100vh;
  max-height: 100%;
  background:#b3c2bf;
}
.center {
  margin: 0 auto;
  padding: 23% 0;
  width: 90%;
  color: #3b3a36;
  text-align: center;
}
.center h1 {
  font-size: 50px;
  font-family: 'Oswald', serif;
}
strong {
  font-size: 20px;
}

/*About Section*/
.about {
  min-height:100vh;
  background:#c0dfd9;
}
.about h2{
  font-size: 30px;
  font-family: 'Oswald', serif;
  color: #3b3a36;
  text-align: center;
  padding: 2% 0;
}
.thesection{
  min-height: 275px;
  margin-right: 12%;
}
.thesection.skills{
  min-height: 215px;
  margin-left: 10%;
  margin-right: 0;
}
.aboutinfo{
  float: left;
  width: 50%;
  margin-left: 5%;
}
.profileimage{
  float:right;
}
.aboutinfo h3 {
  font-family: 'Oswald', serif;
}
.theFacts {
  margin-top: 2%;
  margin-left: 12%;
}
#facts {
  margin-top: 3%;
}
#facts li{
  margin: 0;
  margin-left: 5%;
  width: 70%;
  line-height: 2em;
}
.profileimage {
  background-image: url("/images/mypicture.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 225px;
  height: 225px;
}
.theSkills {
  float:left;
  width: 33%;
}
.theSkills h3 {
  font-family: 'Oswald', serif;
}
.aboutcenter {
  margin: 0 auto;
  width: 90%;
  color: #3b3a36;
}
.text {
  font-weight: bold;
}


/*PROJECT SECTION*/
.projects {
  min-height:100vh;
  height: 625px;
  background:#b3c2bf;
  color:#e9ece5;
}
.projects h2{
  font-size: 30px;
  font-family: 'Oswald', serif;
  color: #3b3a36;
  text-align: center;
  padding: 2% 0;
}
.one-third {
  width: 33%;
  height: 500px;
  float: left;
}
.regularbox {
  width: 94.5%;
  height: 47.5%;
  border: 1px solid grey;
  margin: 2%;
}
.regularbox a{
	text-decoration: none;
}
.three-fourth {
  width: 66%;
  height: 500px;
  float: left;
}
.boxsection {
  height: 33%;
  width: 100%;
}
.boxsection a{
  text-decoration: none;
}
.squarebox {
  width:45%;
  height: 90%;
  float: left;
  margin: 1% 2%;
}
.bigbox {
  width: 94%;
  height: 90%;
  margin: 1% 2%;
  float: left;
}
.codiki {
  background-image: url("/images/codiki.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color:  #e9ece5;
}
.codiki:hover p {
  display: block;
  opacity: 0.6;
}
.codiki:hover {
  background-image: none;
}
.codiki p{
  margin: 7%;
  margin-top: 12%;
  text-align: center;
  display: none;
  color: black;
}
span {
  font-family: 'Oswald', serif;
}

.blackjack {
  background-image: url("/images/Blackjack.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color:  #e9ece5;
}
.blackjack:hover p {
  display: block;
  opacity: 0.6;
}
.blackjack:hover {
  background-image: none;
}
.blackjack p{
  margin: 7%;
  margin-top: 12%;
  text-align: center;
  display: none;
  color: black;
}

.keytranslator {
  background-image: url("/images/keytranslator.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color:  #e9ece5;
}
.keytranslator:hover p {
  display: block;
  opacity: 0.6;
}
.keytranslator:hover {
  background-image: none;
}
.keytranslator p{
  margin: 7%;
  margin-top: 12%;
  text-align: center;
  display: none;
  color: black;
}

.cheese {
  background-image: url("/images/cheese.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color:  #e9ece5;
}
.cheese:hover p {
  display: block;
  opacity: 0.6;
}
.cheese:hover {
  background-image: none;
}
.cheese p{
  margin: 7%;
  margin-top: 7%;
  text-align: center;
  display: none;
  color: black;
}

/*TobeDetermine projects*/
.final {
  background-image: url("/images/placeholder.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color:  #e9ece5;
}
.final:hover p {
  display: block;
  opacity: 0.6;
}
.final:hover {
  background-image: none;
}
.final p{
  margin: 7%;
  margin-top: 25%;
  text-align: center;
  display: none;
  color: black;
}

.group {
  background-image: url("/images/placeholder.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color:  #e9ece5;
}
.group:hover p {
  display: block;
  opacity: 0.6;
}
.group:hover {
  background-image: none;
}
.group p{
  margin: 7%;
  margin-top: 25%;
  text-align: center;
  display: none;
  color: black;
}

.homework {
  background-image: url("/images/placeholder.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color:  #e9ece5;
}
.homework:hover p {
  display: block;
  opacity: 0.6;
}
.homework:hover {
  background-image: none;
}
.homework p{
  margin: 7%;
  margin-top: 12%;
  text-align: center;
  display: none;
  color: black;
}



/*Contact Section*/
.contact {
  min-height:100vh;
  height: 625px;
  background:#c0dfd9;
  color:#e9ece5;
}
.contact h2{
  font-size: 30px;
  font-family: 'Oswald', serif;
  color: #3b3a36;
  text-align: center;
  padding: 2% 0;
}
.middle {
  margin: 0 auto;
  padding: 10% 0;
  width: 90%;
  color: #3b3a36;
  text-align: center;
}
.middle p {
  line-height: 1.5em;
}
.middle p a {
  text-decoration: none;
  font-family: 'Oswald', serif;
  color: #3b3a36;
}
.middle p a:hover {
  color: #B1103E;
  opacity: 0.6;
}
.socialMedia {
  width: 90%;
  margin: 0 5%;
}
.socialMedia p {
  float: left;
}
.linkedin {
  margin-left: 15%;
  background-image: url("/images/Linkedin.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 15%;
  height: 25px;
}
.linkedin:hover {
  opacity: 0.6;
}
.github {
  margin-left: 30%;
  background-image: url("/images/Github_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 15%;
  height: 30px;
}
.github:hover {
  opacity: 0.6;
}

footer {
  width: 90%;
  margin: 0 5%;
}
footer p{
  color: #3b3a36;
  float: right;
  font-size: 12px;
}


/*Media Queries */
  @media screen and (max-width: 1000px) {
    li {
      width:15%;
    }
    li:first-child {
      margin-left: 20%;
    }
    .center {
      padding: 26% 0;
    }
  }
  @media screen and (max-width: 900px) {
    .center {
      padding: 30% 0;
    }
    .thesection{
      margin-right: 5%;
    }
    .theFacts {
      margin-left: 5%;
    }
  }

	@media screen and (max-width: 768px) {

    /*navbar*/
		#menu {
			width:2em;
      margin: 3% 0;
      margin-top: 4.5%;
      margin-right: 5%;
			display: block;
			font-size:1.35em;
			text-align: center;
      float: right;
      position: relative;
      color: #e9ece5;
		}
		#nav.js {
			display: none;
		}
		.navigation ul {
			width:100%;
      position: absolute;
      left: 0;
      top: 100%;
			list-style:none;
		}
		#nav li {
			width:38%;
      margin: 0;
      margin-left: 61%;
			border-right:none;
		}
    #nav li a {
      width: 40%;
      float: right;
      margin: 0 3%;
      padding: 2.5% 3%;
      text-align: right;
      background-color:  #3b3a36;
      background: rgba(0,0,0,0.5);
    }
    /*header*/
    .navbar-header {
      margin-top: 1.5%;
    }
    .center {
      padding: 36% 0;
    }
    .thesection.skills{
      margin-left: 0;
    }
    .thesection{
      margin-right: 0;
    }
    .theFacts {
      margin-left: 0;
    }
    .socialMedia p {
      float: none;
    }
    .github {
      margin-left: 43%;
    }
    .linkedin {
      margin-left: 42%;
      margin-top: 3%;
    }
	}

	@media screen and (min-width: 768px) {
		#menu {
			display: none;
		}
	}
  @media screen and (max-width: 658px) {
    .center {
      padding: 42% 0;
    }
    .theSkills {
      float:left;
      width: 100%;
    }
    .about {
      min-height:1250px;
    }
    .projects {
      min-height:1400px;
    }
    .three-fourth {
      width: 100%;
      margin-top: 2%;
    }
    .one-third {
      width: 100%;
      margin: 10% 0;
    }
    .github {
      height: 28px;
    }
    .linkedin {
      margin-left: 43%;
    }
    .middle {
      padding: 8% 0;
    }
    .contact {
      min-height: 625px;
    }
  }
  @media screen and (max-width: 549px) {
    .center {
      padding: 58% 0;
    }
    .aboutinfo.theFacts{
      width: 100%;
    }
    .aboutinfo.profileimage{
      width: 100%;
    }
    .thesection{
      float: none;
      margin-left: 19%;
    }
    .thesection.skills{
      margin-left: 19%;
      height: auto;
    }
    .squarebox {
      width:94%;
    }
    .one-third {
      width: 100%;
      margin: 0;
    }
    .github {
      width: 25%;
      margin-left: 40%;
    }
    .linkedin {
      width: 25%;
      margin-left: 39%;
    }
    .middle {
      padding: 3% 0;
    }
    .contact {
      min-height: 625px;
    }
  }
